In [114]:
import re

pattern = r"output/RuPNP_tBu_(?P<group>.*)_(?P<position>.*)"
regex = re.compile(pattern)

In [115]:
import glob

glob_pattern = "output/RuPNP_tBu_*"

matched_folders = glob.glob(glob_pattern)

targets = [regex.match(folder_name) for folder_name in matched_folders]
targets = [[target.group("group"), target.group("position")] for target in targets]
targets

[['COMe', 'C2down'],
 ['CN', 'C2down'],
 ['I', 'C1on'],
 ['Cl', 'C1on'],
 ['F', 'C2down'],
 ['tBu', 'C2on'],
 ['Me', 'C1on'],
 ['COOH', 'C2down'],
 ['COH', 'C2down'],
 ['CF3', 'C1on'],
 ['NEt', 'C1on'],
 ['COH', 'C1on'],
 ['NMeiPr', 'C2on'],
 ['COOMe', 'C2down'],
 ['NH2', 'C1on'],
 ['I', 'C2on'],
 ['tBu', 'C1on'],
 ['COEt', 'C1on'],
 ['COOH', 'C1on'],
 ['H', 'C1on'],
 ['CF3', 'C2down'],
 ['Me', 'C2down'],
 ['NMeiPr', 'C1on'],
 ['OH', 'C2down'],
 ['CN', 'C1on'],
 ['COEt', 'C2down'],
 ['OMe', 'C1on'],
 ['NO2', 'C2down'],
 ['COOMe', 'C1on'],
 ['iPr', 'C1on'],
 ['Br', 'C1on'],
 ['CHF2', 'C1on'],
 ['CH2F', 'C2down'],
 ['CHF2', 'C2down'],
 ['F', 'C1on'],
 ['NEt2', 'C1on'],
 ['CBr3', 'C2on'],
 ['Ph', 'C2on'],
 ['NMe', 'C2down'],
 ['NMe', 'C1on'],
 ['CCl3', 'C2on'],
 ['OH', 'C1on'],
 ['NMe2', 'C1on'],
 ['Et', 'C1on'],
 ['iPr', 'C2on'],
 ['NMe2', 'C2down'],
 ['Br', 'C2down'],
 ['CH2F', 'C1on'],
 ['NO2', 'C1on'],
 ['NEt', 'C2down'],
 ['NH2', 'C2down'],
 ['NEt2', 'C2on'],
 ['CBr3', 'C1on'],
 ['Ph', 'C1on'],
 ['COMe', 'C1on'],
 ['CCl3', 'C1on'],
 ['Cl', 'C2down'],
 ['OMe', 'C2down'],
 ['Et', 'C2on'],
 ['H', 'C2down']]

In [116]:
import numpy as np

groups = np.array(targets)[:, 0]
groups = np.unique(groups)
groups

array(['Br', 'CBr3', 'CCl3', 'CF3', 'CH2F', 'CHF2', 'CN', 'COEt', 'COH',
       'COMe', 'COOH', 'COOMe', 'Cl', 'Et', 'F', 'H', 'I', 'Me', 'NEt',
       'NEt2', 'NH2', 'NMe', 'NMe2', 'NMeiPr', 'NO2', 'OH', 'OMe', 'Ph',
       'iPr', 'tBu'], dtype='<U6')

In [117]:
import pandas as pd

available_positions = ["C1on", "C2on", "C1down", "C2down"]

df = pd.DataFrame(columns=["R"] + available_positions)

df["R"] = groups

In [118]:
["OH", "C2down"] in targets

True

In [119]:
df[available_positions] = [
    [([R, position] in targets) for position in available_positions] for R in df["R"]
]

In [120]:
df

         R  C1on   C2on  C1down  C2down
0       Br  True  False   False    True
1     CBr3  True   True   False   False
2     CCl3  True   True   False   False
3      CF3  True  False   False    True
4     CH2F  True  False   False    True
5     CHF2  True  False   False    True
6       CN  True  False   False    True
7     COEt  True  False   False    True
8      COH  True  False   False    True
9     COMe  True  False   False    True
10    COOH  True  False   False    True
11   COOMe  True  False   False    True
12      Cl  True  False   False    True
13      Et  True   True   False   False
14       F  True  False   False    True
15       H  True  False   False    True
16       I  True   True   False   False
17      Me  True  False   False    True
18     NEt  True  False   False    True
19    NEt2  True   True   False   False
20     NH2  True  False   False    True
21     NMe  True  False   False    True
22    NMe2  True  False   False    True
23  NMeiPr  True   True   False   False
24     NO2  True  False   False    True
25      OH  True  False   False    True
26     OMe  True  False   False    True
27      Ph  True   True   False   False
28     iPr  True   True   False   False
29     tBu  True   True   False   False

In [121]:
import functools


@functools.cache
def read_energy_from_output(filepath) -> float | None:
    with open(filepath) as f:
        energy_line = None
        normal_terminate = False
        for line in f.readlines():
            if "Final Gibbs free energy" in line:
                energy_line = line
            if "ORCA TERMINATED NORMALLY" in line:
                normal_terminate = True
    if normal_terminate:
        return float([token for token in energy_line.split(" ") if token != ""][-2])
    else:
        return None


def load_energy_for_item(group, position, item) -> float | None:
    try:
        return read_energy_from_output(
            f"output/RuPNP_tBu_{group}_{position}/{item}.out"
        )
    except:
        return None


load_energy_for_item("Br", "C1on", "A2S")

-96.46405047

In [122]:
@functools.cache
def load_A1_energy(group) -> float | None:
    filepath = f"A1_xtb/RuPNP_tBu_{group}/A1.out"
    return read_energy_from_output(filepath)


load_A1_energy("tBu")

-89.16192354

In [123]:
df["A1_energy"] = [load_A1_energy(group) for group in df["R"]]

In [124]:
available_structures = ["A2R", "A3R", "TSA2R_3R", "A2S", "A3S", "TSA2S_3S"]

[
    f"{position}_{structure}"
    for position in available_positions
    for structure in available_structures
]

['C1on_A2R',
 'C1on_A3R',
 'C1on_TSA2R_3R',
 'C1on_A2S',
 'C1on_A3S',
 'C1on_TSA2S_3S',
 'C2on_A2R',
 'C2on_A3R',
 'C2on_TSA2R_3R',
 'C2on_A2S',
 'C2on_A3S',
 'C2on_TSA2S_3S',
 'C1down_A2R',
 'C1down_A3R',
 'C1down_TSA2R_3R',
 'C1down_A2S',
 'C1down_A3S',
 'C1down_TSA2S_3S',
 'C2down_A2R',
 'C2down_A3R',
 'C2down_TSA2R_3R',
 'C2down_A2S',
 'C2down_A3S',
 'C2down_TSA2S_3S']

In [125]:
df[
    [
        f"{position}_{structure}"
        for position in available_positions
        for structure in available_structures
    ]
] = [
    [
        load_energy_for_item(group, position, item)
        for position in available_positions
        for item in available_structures
    ]
    for group in df["R"]
]

In [126]:
df

,R,C1on,C2on,C1down,C2down,A1_energy,C1on_A2R,C1on_A3R,C1on_TSA2R_3R,C1on_A2S,...,C1down_TSA2R_3R,C1down_A2S,C1down_A3S,C1down_TSA2S_3S,C2down_A2R,C2down_A3R,C2down_TSA2R_3R,C2down_A2S,C2down_A3S,C2down_TSA2S_3S
0,Br,True,False,False,True,-71.318708,-96.462445,-96.422877,-96.418622,-96.46405,...,None,None,None,None,-96.459452,-96.424561,NaN,-96.459627,-96.429244,-96.4129
1,CBr3,True,True,False,False,-91.829020,-116.974625,-116.925039,-116.919418,-116.976305,...,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN
2,CCl3,True,True,False,False,-94.662071,-119.804416,-119.760451,-119.757521,-119.807014,...,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN
3,CF3,True,False,False,True,-95.745405,-120.88566,-120.848551,-120.84389,-120.886206,...,None,None,None,None,-120.884689,-120.852378,-120.841052,-120.882553,-120.859384,-120.842841
4,CH2F,True,False,False,True,-78.793822,-103.93906,-103.902115,-103.897582,-103.936049,...,None,None,None,None,-103.933265,-103.906466,NaN,-103.933788,-103.899454,-103.893382
5,CHF2,True,False,False,True,-87.266387,-112.407813,-112.37285,-112.368296,-112.410133,...,None,None,None,None,-112.405811,-112.370735,-112.363157,-112.406246,-112.373993,-112.36626
6,CN,True,False,False,True,-73.087162,-98.2302,-98.195163,-98.190404,-98.23248,...,None,None,None,None,-98.227584,-98.195487,-98.190099,-98.233892,-98.200632,NaN
7,COEt,True,False,False,True,-82.725343,-107.864171,-107.831064,-107.827855,-107.862335,...,None,None,None,None,-107.863099,-107.827893,-107.823322,-107.863342,-107.831747,-107.820578
8,COH,True,False,False,True,-76.412879,-101.550203,-101.521754,-101.516833,-101.554667,...,None,None,None,None,-101.551321,-101.523358,-101.501109,-101.551567,-101.52129,-101.508018
9,COMe,True,False,False,True,-82.727175,-107.867636,-107.832884,-107.829251,-107.870725,...,None,None,None,None,-107.865141,-107.824623,-107.821274,-107.864299,-107.828857,-107.820814
10,COOH,True,False,False,True,-84.613514,-109.754024,-109.722746,-109.719336,-109.757319,...,None,None,None,None,-109.752382,-109.721523,-109.714009,-109.755493,-109.71878,-109.710909
11,COOMe,True,False,False,True,-90.890195,-116.031779,-115.999924,-115.996949,-116.034369,...,None,None,None,None,-116.028225,-115.990673,-115.98954,-116.030698,-115.993747,-115.986466
12,Cl,True,False,False,True,-72.259892,-97.401813,-97.367181,-97.362904,-97.403561,...,None,None,None,None,-97.399353,-97.366871,-97.359199,-97.399167,-97.363011,-97.355399
13,Et,True,True,False,False,-76.616573,-101.758612,-101.72365,-101.721757,-101.760749,...,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN
14,F,True,False,False,True,-72.632977,-97.776796,-97.74256,NaN,-97.778071,...,None,None,None,None,-97.772644,-97.741748,-97.733676,-97.77303,-97.737464,-97.729594
15,H,True,False,False,True,-64.063985,-89.203616,-89.17473,-89.170949,-89.207986,...,None,None,None,None,-89.204151,-89.169762,-89.1616,-89.204411,-89.171346,-89.162654
16,I,True,True,False,False,-70.774346,-95.920288,-95.881717,-95.87752,-95.92383,...,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN
17,Me,True,False,False,True,-70.349053,-95.48785,-95.45482,-95.45184,-95.488745,...,None,None,None,None,-95.48593,-95.447058,-95.444403,-95.486734,-95.448351,-95.444905
18,NEt,True,False,False,True,-83.495298,-108.635632,-108.599587,-108.597116,-108.637942,...,None,None,None,None,-108.629156,-108.583467,-108.586034,-108.632008,-108.586404,-108.585668
19,NEt2,True,True,False,False,-96.041468,-121.180526,-121.141338,-121.139229,-121.183298,...,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN
20,NH2,True,False,False,True,-70.939938,-96.080261,-96.046504,-96.043577,-96.082201,...,None,None,None,None,-96.080795,-96.037775,-96.036794,-96.080684,-96.037069,-96.037001
21,NMe,True,False,False,True,-77.206566,-102.352708,-102.317757,-102.315691,-102.352983,...,None,None,None,None,-102.345923,-102.303602,-102.30242,-102.349721,-102.303656,-102.302561
22,NMe2,True,False,False,True,-83.491259,-108.62859,-108.594272,-108.591531,-108.625751,...,None,None,None,None,-108.630832,-108.592654,-108.587738,-108.630553,-108.591173,-108.58764
23,NMeiPr,True,True,False,False,-96.040522,-121.184807,-121.151526,NaN,-121.180469,...,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN
24,NO2,True,False,False,True,-84.987659,-110.132435,-110.09486,-110.088453,-110.135473,...,None,None,None,None,-110.138265,-110.10756,-110.089706,-110.137604,-110.107755,NaN
25,OH,True,False,False,True,-72.280231,-97.421583,-97.387637,-97.384549,-97.422435,...,None,None,None,None,-97.425641,-97.378267,-97.37699,-97.425517,-97.379472,-97.379671
26,OMe,True,False,False,True,-78.539176,-103.676828,-103.646399,-103.642728,-103.684715,...,None,None,None,None,-103.67199,-103.636139,-103.632763,-103.672216,-103.632447,-103.627305
27,Ph,True,True,False,False,-93.676151,-118.825644,-118.792918,-118.789619,-118.825694,...,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN
28,iPr,True,True,False,False,-82.891632,-108.03205,-107.994261,-107.992062,-108.035228,...,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN
29,tBu,True,True,False,False,-89.161924,-114.301731,-114.28483,NaN,-114.304861,...,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN

In [127]:
df.to_csv("RuPNP.csv")